* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f1e3c8;
    }

form.form-example {
    display: table;
}

input:invalid {
    border: 2px solid rgb(202, 8, 8);
  }
  
  input:valid {
    border: 1px solid rgb(24, 250, 4);
  }
